<div class="flex-block wrap">
    <div class="item-info">
        <div *ngFor="let district of disticts">
            <div [ngClass]="{ 'select-item': selected === district ? true : false }" class="cursor flex-item flex-wrap"
                (click)="getGeoLocation(district)">
                {{district}}
            </div>
        </div>
        <div *ngIf="disticts.length === 0">
            <div class="av-info">-- No State Selected --</div>
        </div>
    </div>
</div>