<app-navbar></app-navbar>

<div class="container-fluid mt-2 ">
    <div class="row mb-1">
        <div class="col-md-12 col-lg-6">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>{{selectState ? selectState : 'Select State'}}</button>
                <div ngbDropdownMenu class="av-dropdown" aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem *ngFor="let location of states"
                        (click)="selectedState(location)">{{location.state}}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="card-container">
        <div class="card card-small">
            <div class="row">
                <div class="col-md-12 col-lg-6 list">
                    <app-list [disticts]="distictsOfStates" (selecteddistict)="onselectedDistict($event)"></app-list>
                </div>
                <div class="col-md-12 col-lg-6 list">
                    <app-map [geoLocations]="geoLocations" [distict]="selectedDistict"></app-map>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid p-0 footer">
    <p class="text-center py-2">Artivatic Task | Sunil A | Lucida Technologies</p>
</div>