@import "~bootstrap/scss/bootstrap";
.card-small {
  background: #aadaff;
}
.list {
  height: 77vh;
  max-height: 77vh;
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.flex-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
}

.flex-item {
  background: #e9ecef;
  color: #495057;
  text-align: center;
  margin: 1em;
  padding: 0.4em;
  flex: 1 1 auto;
  border: 0.5px solid gray;
  cursor: pointer;
  border-radius: 0.2rem;
  &:hover {
    background: #737374;
    color: #ffffff;
    box-shadow: 6px 6px 5px 0px rgb(153 153 153 / 49%);
  }

  // whatever the breakpoints are that scaffold has set.
  @media screen and (min-width: 320px) {
    width: calc(50vw - 4em);
  }

  @media screen and (min-width: 640px) {
    width: calc(50vw - 4em);
  }

  @media screen and (min-width: 960px) {
    width: calc(16vw - 3em);
  }

  @media screen and (min-width: 1280px) {
  }
}

.select-item {
  background: #737374;
  color: #ffffff;
  box-shadow: 6px 6px 5px 0px rgb(153 153 153 / 49%);
  }

.av-dropdown {
  max-height: 20rem !important;
  overflow: auto;
}

.av-nav {
    border-bottom: 1px solid #aadaff;
    span {
        font-family: inherit !important;
        font-weight: 600 !important;
        font-size: 1.25rem !important;
    }
}

.av-info {
    padding: 1rem;
    font-size: 1.15rem;
    color: currentcolor;
}
